*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 1px solid red;
}


/* defualt behaviour for links */
a:link, a:visited {
  color: var(--primary-color);
  text-decoration: none;
}
a:active {
  color: #14113f;
}

:root {
  --primary-color: #25233c; /* Bright Blue for Buttons, links, and key elements to draw attention. */
  --secondary-color: #e3cbc1; /* Vibrant Coral for Secondary buttons, highlights, and hover states*/
  --background-color: #90a2c5; /* Soft Light Gray for Page background, to provide a clean and minimalist canvas*/
  --text-color: #dbdbe3; /* Charcoal Gray for Main body text, headings, and general content*/
  --muted-text-color: #6C757D; /* Cool Gray for Subtext, meta information, and less prominent text.*/
  --highlight-color: #963569; /* Bright Yellow for Highlights, important notices, and call-to-action elements*/
  --border-color: #5764b7; /* Light Gray for Borders, dividers, and subtle backgrounds for cards or sections*/
  --font-family: "Roboto", sans-serif;
}

body {
  font-family: var(--font-family);
}
.no-wrap {
  white-space: nowrap;
}
.primery-header {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 2rem;
}

/* button */
.button-one {
  display: none;
}

/* navbar styling */
.nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.nav-list li {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-color);
  border-bottom: 2px none;
  padding: 0.75rem 0;
  border-top: 0.5rem solid var(--border-color);
  
  transition: all 0.2s ease;
}

.nav-list li a {
  display: flex; 
  align-items: center;
  justify-content: center;
  width: 100%; 
  height: 100%;
  color: var(--primary-color);
}

.nav-list li:hover{
  background-color: #6987c2;
}
.nav-list li:active{
  background-color: #6987c2;
}

.nav-list li:hover a{
  color: var(--text-color);
}

.primery-header .nav-list .active a {
  color: var(--text-color);
}

.primery-header .nav-list .active{
  background-color: #6987c2;
}

/* body main */
.main-layout {
  display: grid;
}

/* home section */
#home {
  background-color: var(--primary-color);
  background-image: url("assets/images/hero_background2.jpg");
  background-size: cover;

  background-blend-mode: lighten;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.home-section {
  padding: 1.25rem;
  background-color: var(--secondary-color);
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.home-section h1 {
  font-size: 2rem;
  font-weight: 800;
  color: var(--text-color);
}

.home-section p {
  color: var(--text-color);
  padding: 1rem;
  background-color: #963569;
  font-size: 1.5rem;
}

.name {
  display: block;
  padding: 1rem;
  color: var(--highlight-color);
  font-size: 2.5rem;
}

.intro {
  font-style: italic;
  margin-bottom: 3rem;
}

.personal-image {
  margin-left: 0.5rem;
  margin-top: 1.3rem;
}

.personal-image img {
  max-width: 175px; /* Adjust size as needed */
}

.cta-button {
  background: linear-gradient(135deg, var(--border-color), #2575fc);
  color: var(--text-color);
  padding: 1rem 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}


.cta-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(87, 100, 183,0.1);
  transition: all 0.3s;
}

.cta-button:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}

.cta-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(87, 100, 183,0.5);
  border-radius: 10px;
  transform: scale(1.2,1.2);
}
.cta-button:hover::after {
  opacity: 1;
  transform: scale(1,1);
}

/* about section */
.about-section {
  margin-top: -2rem;
  background-color: var(--highlight-color);
  display: flex;
  align-items: center;
  --mask:
    radial-gradient(28.28px at 50% 40px,#000 99%,#0000 101%) calc(50% - 40px) 0/80px 100%,
    radial-gradient(28.28px at 50% -20px,#0000 99%,#000 101%) 50% 20px/80px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.child {
  flex: 1;
}

.about-me {
  text-align: center;
  padding-top: 1.5rem;
}

.about-me h2 {
  margin: 1rem 0;
  font-weight: 800;
  font-size: 2rem;
}

.about-me p {
  font-style: italic;
  font-size: 1.5rem;
  padding: 1rem;
}

.skills {
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  padding: 1rem;
}

.skills h2 {
  margin-top: 1rem;
  text-align: center;
  padding-top: 1rem;
}

.skill{
  margin:1rem 1rem;
}
.skill li {
      margin:1rem 1rem;
      list-style:none;
  }
.skill p{
  float:right;
  margin: 2px;
  left:70%;
}

.bar {
  background: var(--background-color);
  width: 100%;
  display: block;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(.25,.7,.25,1);
}
.bar:hover {
      box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
  }

.bar span {
      height: 20px;
      float: left;
      background: linear-gradient(135deg, var(--border-color), #2575fc);
  }

.python{
  width:90%;
  animation:python 2s;

}

.javascript {
  width: 80%;
  animation: javascript 2s;
}

.css {
  width: 70%;
  animation: css 3s;
}

.html {
  width: 90%;
  animation: html 2s;
}

.golang {
  width: 55%;
  animation: golang 3s;
}

@keyframes python{
  0%{
      width:0%;
  }
  100%{
      width:90%;
  }
}

@keyframes javascript {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

@keyframes css {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}

@keyframes html {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@keyframes golang {
  0% {
    width: 0;
  }
  100% {
    width: 55%;
  }
}

/* services section */
.services-section {
  background-color: var(--border-color);
  padding: 1.25rem;
  padding-bottom: 3rem;
  margin-bottom: -2rem;

  --mask:
    radial-gradient(28.28px at 50% calc(100% - 40px),#000 99%,#0000 101%) calc(50% - 40px) 0/80px 100%,
    radial-gradient(28.28px at 50% calc(100% + 20px),#0000 99%,#000 101%) 50% calc(100% - 20px)/80px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

.services-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.cards-container {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  color: var(--text-color);
  background-color: var(--primary-color);
  background-size: cover;
  padding: 10rem 0 0;
  max-width: 35ch;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-blend-mode: multiply;

  transition: transform 500ms;
}
.card:nth-child(1) {
  background-image: url(assets/images/webdesign5.jpg);
}
.card:nth-child(2) {
  background-image: url(assets/images/webdesing8.jpg);
}
.card:nth-child(3) {
  background-image: url(assets/images/webdesing7.jpg);
}

.card:hover,
.card:focus-within {
  transform: scale(1.05);
}

.card-content {
  --padding: 1.5rem;
  padding: var(--padding);
  background: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.4) 10%,
    rgba(0, 0, 0, 1)
   );
}

.card-title {
  position: relative;
  width: max-content;
  margin-bottom: 1rem;
}

.card-title::after {
  content: "";
  position: absolute;
  height: 4px;
  left: calc(var(--padding) * -1);
  bottom: -4px;
  width: calc(100% + var(--padding));
  background-color: var(--border-color);
  transform-origin: left;

  transition: transform 500ms ease;
}

.card:hover .card-title::after,
.card:focus-within .card-title::after {
  transform: scale(1);
}

.card-body {
  color: rgba(255, 255, 255, 0.8);
}

.mod-button {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5em 1.25em
}

.mod-button:hover,
.mod-button:focus {
  color:black;
}

/* portfolio section */
.portfolio-section {
  background: var(--text-color);
  padding-bottom: 2rem;
}

.portfolio-title {
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.portfolio-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-content {
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

.project {
  width: 80px;
  margin: 0.5rem;
  background-size: cover;
  background-color: var(--primary-color);
  background-blend-mode: multiply;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  display: flex;
  align-items: flex-end;
  transition: 0.6s cubic-bezier(0.28, -0.03, 0, 1);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.4);
}

.project[for="c1"] {
  background-image: url(assets/images/webdesign.jpg);
}
.project[for="c2"] {
  background-image: url(assets/images/coming_soon.jpg);
}
.project[for="c3"] {
  background-image: url(assets/images/coming_soon.jpg);
}
.project[for="c4"] {
  background-image: url(assets/images/coming_soon.jpg);
}

.project > .row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.row > .icon {
  background: var(--text-color);
  color: var(--primary-color);
  border-radius: 50%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.row > .description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 90px;
  width: 530px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: 0.3s;
  transition: all 0.3s ease;
  padding-bottom: 5rem;
}

.description p {
  color: var(--text-color);
  font-size: 1rem;
  padding-top: 5px;
}

.description h4 {
  text-transform: uppercase;
  color: var(--text-color);
  font-size: 1.2rem;
}

.portfolio-section input {
  display: none;
}

input:checked + label {
  width: 600px;
}

input:checked + label .description {
  opacity: 1 !important;
  transform: translate(0) !important;
}

/* Contact section */
.contact-section {
  background: #F2F3EB;
  margin-top: -2rem;
  --mask:
    radial-gradient(46.11px at 50% 63.75px,#000 99%,#0000 101%) calc(50% - 50px) 0/100px 100%,
    radial-gradient(46.11px at 50% -38.75px,#0000 99%,#000 101%) 50% 25px/100px 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

#container h1 {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  padding-top: 1rem;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
	float: right;
	width: 45%;
}

#service_input {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
.email-error-msg {
  text-transform: uppercase;
  color: red;
}
.phone-error-msg {
  text-transform: uppercase;
  color: red;
  padding-bottom: 1rem;
}
.service-error-msg {
  text-transform: uppercase;
  color: red;
  padding-bottom: 0.25rem;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name-form {
	float: left;
	width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.service {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
	color: #474544;
}

:-moz-placeholder { 
	color: #474544;
	opacity: 1;
}

::-moz-placeholder {
	color: #474544;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #474544;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}

/*footer section*/
.footer-section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright {
  font-size: 2rem;
  padding-top: 3rem;
  text-align: center;
}

.back-to-top {
  background: var(--background-color);
  padding: 1rem;
  margin-left: 5rem;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.back-to-top:hover {
  transform: scale(1.1);
}
.switch {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}

.switch > span {
  position: absolute;
  top: 14px;
  pointer-events: none;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
  width: 50%;
  text-align: center;
}

input.check-toggle-round-flat:checked ~ .off {
  color: var(--primary-color);
}

input.check-toggle-round-flat:checked ~ .on {
  color: #fff;
}

.switch > span.on {
  left: 0;
  padding-left: 2px;
  color: var(--primary-color);
}

.switch > span.off {
  right: 0;
  padding-right: 4px;
  color: #fff;
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat + label {
  padding: 2px;
  width: 97px;
  height: 35px;
  background-color: var(--primary-color);
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: var(--primary-color);
  
  
  -webkit-moz-border-radius: 60px;
  -webkit-ms-border-radius: 60px;
  -webkit-o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: #fff;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}

input.check-toggle-round-flat:checked + label:after {
  margin-left: 44px;
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  
  .underline {
    width: 68px;
  }
  
  #form_button {
    padding: 15px 25px;
  }

  .personal-image img {
    max-width: 120px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 53px;
  }
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }

  .personal-image img {
    margin-left: -15px;
  }

  .column-1 h1, .column-1 .name, .column-1 .intro {
    font-size: 1.4rem;
  }

  .column-1 .intro {
    width: 200px;
  }

  .cta-button {
    padding: 0.5rem 0.5rem;
  }

  .portfolio-content input:checked + label {
    width: 280px;
  };
}

/* media queries */
@media only screen and (max-width: 1014px) {
  .card {
    flex: 1 1 45%;
    max-width: 60ch;
  }
  .card:nth-child(3) {
    max-width: 60ch;
  }

  input:checked + label {
    width: 320px;
  }

  .row > .description {
    width: 220px;
  }
}

@media only screen and (max-width: 768px) {
  /* header and menu adjustments */
  /* dealing with slide out issue */
  /* body.menu-open {
    overflow: hidden;
  } */
  .main-layout {
    margin-top: 4.8rem;
  }

  .primery-header {
    display: flex;
    flex-direction: row-reverse;
    background-color:rgba(144, 162, 197, 0.9);
    border-top: 0.5rem solid var(--border-color);
    padding: 0.5rem 0.75rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 101;
  }
  
  .nav-list {
    font-size: 3rem;
    font-size: 1rem;
    position: fixed;
    top: 0;
    right: -200px; /* Hidden off-screen */
    width: 200px;
    height: 100vh;
    background: rgba(144, 162, 197, 0.8);
    transition: right 0.3s ease; /* Slide-in transition */
    z-index: 100;
    margin-top: 4.8rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; 
  }  

  .nav-list li {
    flex-grow: 0;
    border: none;
    width: 100%;
  }



  /* button styles */
  .button-one {
    cursor: pointer;
    display: block;
    background: transparent;
    border: 3px solid var(--primary-color);
    border-radius: 0.25rem;
    padding: 0;
    z-index: 100;
  }

  .button-one .line {
    transition: 500ms;
    transform-origin: center;
  }

  .button-one[aria-expanded="true"] .top {
    transform: translateY(10px);
    rotate: 405deg;
  }
  .button-one[aria-expanded="true"] .middle {
    opacity: 0;
  }
  .button-one[aria-expanded="true"] .bottom {
    transform: translateY(-10px);
    rotate: -405deg;
  }

  /* about section */
  .about-section {
    display: block;
  }

  /* services section */
  .card {
    flex: 1 1 100%;
    max-width: 60ch;
  }

  /* portfolio section */
  .portfolio-content {
    display: grid;
    height: 600px;
    grid-template-columns: repeat(2, 1fr);
  }

  input:checked + label {
    width: 300px;
  }

  /* Contact section */
  .contact-section {
    margin-top: -2rem;
    padding-top: 2rem;
  }

  #container {
    margin: 20px auto;
    width: 95%;
  }
}


@media (hover: hover) {
  .card-content:hover {
    transform: translateY(70%);
    transition: transform 500ms ease;
  }

  .card:hover .card-content, 
  .card:focus-within .card-content {
    transform: translateY(0);
    transition-delay: 500ms;
  }

  .card:focus-within .card-content {
    transition-duration: 0ms;
  }

  .card-content > *:not(.card-title) {
    opacity: 0;
    transition: opacity 500ms linear;
  }

  .card:hover .card-content > *:not(.card-title),
  .card:focus-within .card-content > *:not(.card-title) {
    opacity: 1;
    transition-delay: 750ms;
  }

  .card-title::after {
    transform: scaleX(0);
  }
}

@media (prefers-reduced-motion: reduce) {
  *, *::after, *::before {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition-delay: 0ms !important;
  }
}